li.list-group-item, .card.mt-2 {
    
    /* Color */
    background-color: darkorange;
    color: ghostwhite;
}

body{
    background-color: #084887;

}

button {
    background-color: #909CC2;
    color: ghostwhite;
}

.navbar{
    background-color:lightgrey;
}

#dateToday{
    background-color: #909CC2;
}
#topBox{
    margin-bottom: 2rem;
}
.card-body{
    margin-left: 2rem;

};

